<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>CRUD with Ajax</title>


  <style>

  </style>
</head>


<body>
  <div class="container m-5">
    <h2 class="text-center alert alert-danger">
      CRUD using Jquery
    </h2>

    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-center alert alert-info"> Add / update Students</h4>
        <form action="" method="post" class="form-control" id="form-id">
          {% csrf_token %}

          <label for="fname">Name:</label><br>
          <input type="text" id="nameid" name="name"><br><br>
          <label for="lname">Email:</label><br>
          <input type="email" id="emailid" name="email"><br><br>
          <label for="password">Password:</label><br>
          <input type="password" id="passwordid" name="password"><br>
          <input type="button" value="save" class="btn btn-success my-2" id="btnsave">
        </form>

      </div>
      <div class="col-sm-7">
        <h4 class="text-center alert alert-info">
          Show Students
        </h4>
        <table class="table table-hover">

          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">EMAIL</th>
              <th scope="col">PASSWORD</th>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for st in stud %}
            <tr>
              <td>{{st.id}}</td>
              <td>{{st.name}}</td>
              <td>{{st.email}}</td>
              <td>{{st.password}}</td>
              <td>
              <input type="button" data-sid={{st.id}} class="btn btn-warning btn-sm edit-btn" value="Edit"></td>
              <td>
                <input type="button" data-sid={{st.id}} class="btn btn-danger btn-sm del-btn" value="Delete"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>


  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  {% include "enroll/ajax.html" %}
</body>

</html>